@{
    ViewBag.Title = "Driving Courses";
}

<h2>@ViewBag.Title</h2>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h4>Night Driving</h4>
            <p>
                Many people will have only taken driving lessons during daylight hours.
                Night driving can require some further skills which our instructors can help you gain
            </p>
        </div>

        <div class="col-md-2 col-md-offset-1">
            <img src="~/Content/Images/l-sign.png" width="300" height="150" />
        </div>

        <div class="col-md-3 col-md-offset-3">
            <h4>Refresher Lessons</h4>
            <p>
                If you passed your test some time ago and haven't driven since you'll probably find you're lacking in confidence.
                Our instructors can help you regain your driving skills
            </p>
        </div>
    </div> <!--end of row-->
    <br />

    <div class="row">
        <div class="col-md-5">
            <h4>Parking Tuition</h4>
            <p>
                Do you find yourself driving around looking for a big space to park your vehicle in? We can help you to improve
                your confidence and skills when parking
            </p>
        </div>

        <div class="col-md-5 col-md-offset-2">
            <h4>Fleet Driving</h4>
            <p>
                Ut eirmod ancillae convenire nemore epicurei nam id, pri id.Oblique ponderum ex has, id quo modo accusamus cotidieque.
                Ne option dolorum eum, mel blandit pertinacia ei.
            </p>
        </div>
    </div> <!--end of row-->
    <br />

    <div class="row">
        <div class="col-md-5">
            <h4>Pass Plus</h4>
            <p>
                Pass Plus is a practical training course that takes at least 6 hours and is for drivers to improve their skills
                and drive more safely
            </p>
        </div>

        <div class="col-md-5 col-md-offset-2">
            <h4>Motorway Driving</h4>
            <p>
                Currently learner drivers are not allowed to drive on the motorway, so it is essential you take some
                motorway driving lessons before venturing out for the first time
            </p>
        </div>
    </div><!--end of row-->
    <br />
    <br />
    <p>
        We're confident that we provide a flexible and straightforward solution for all your learning needs. If you are looking for a quality
        Driving School, then please book online or phone us on: 07841340403.
    </p>
    <br />


    <h2>Approved Professional Driving Instructors!</h2>
    <br />
    <p>
        We try to make lessons as enjoyable as possible, whilst focusing on DSA approved techniques to get the most progress
        out of your learning. It's really important that not only are you being taught in the correct manner
        and with the correct methods but that you're comfortable and relaxed during your lessons. We know you'll be nervous,
        not just on your first lesson but also subsequent lessons,
        and so we'll do our best to relieve any stress that you may feel!.
    </p>
    <br />


        <div class="row">
            <div class='col-md-offset-1 col-md-10 text-center'>
                <h3>Customer Reviews</h3>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-12'>
                <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                    <!-- Bottom Carousel Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#quote-carousel" data-slide-to="1"></li>
                        <li data-target="#quote-carousel" data-slide-to="2"></li>
                    </ol>

                    <!-- Carousel Slides / Quotes -->
                    <div class="carousel-inner">

                        <!-- Quote 1 -->
                        <div class="item active">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-3 text-center">
                                        <span class="fa-stack fa-4x">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </div>
                                    <div class="col-sm-8 col-sm-offset-1">
                                        <p>For any learners out there, you will be at ease from day one and will have a great learning experience. You will laugh a lot during your lessons</p>
                                        <small>Tom Bombadil</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <!-- Quote 2 -->
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-3 text-center">
                                        <span class="fa-stack fa-4x">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </div>
                                    <div class="col-sm-8 col-sm-offset-1">
                                        <p>Very good instructor keeps you motivated every lesson you do and I managed to pass first time, thanks dan</p>
                                        <small>Michael Watson</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <!-- Quote 3 -->
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-3 text-center">
                                        <!--<img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/keizgoesboom/128.jpg" style="width: 100px;height:100px;">-->
                                        <span class="fa-stack fa-4x">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </div>
                                    <div class="col-sm-8 col-sm-offset-1">
                                        <p>Highly recommend, especially Mr. Daniel Tafadzwa GARWE,very satisfied.Thanks a lot!</p>
                                        <small>Szilard J. Demeter</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                    </div>

                    <!-- Carousel Buttons Next/Prev -->
                    <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                    <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </div>

    <br />
    <br />

    <div class="schedule" style="color: #593cee;">
        <p>Check instructor availability <button class="btn">Here</button></p>
    </div>
    <br />
    <br />
    <br />
</div>