@{
    ViewBag.Title = "FAQ";
}

<h2>Frequently Asked Questions</h2>

<div class="container">


    <br />
    <br />
    <div id="accordion">
        <h5>1. <a href="#">Is your login system secure?</a></h5>
        <div><p>We aim to make our site as secure as possible by having this site SSL protected and all payment methods are done using PayPal so we do not keep any of your card details.</p></div>
        <h5>2. <a href="#">What information do we keep of you?</a></h5>
        <div><p>We keep your basic contact information i.e. your name, address, email address and contact number.</p></div>
        <h5>3. <a href="#">How do you use and keep my information?</a></h5>
        <div><p>The only information we keep on file are your basic contact details i.e. address (for pick up), email address and contact numbers. This information is kept for communication purposes only by us. We do not sell contact information to third parties.</p></div>
        <h5>4. <a href="#">Do we store cookies on your computer?</a></h5>
        <div><p>--</p></div>
        <h5>5. <a href="#">How can I pay for the lessons?</a></h5>
        <div><p>You can pay for the lessons using our online payment method once you log into your account. Or you can ring us directly on 07841340403 and you can pay for the lessons once you have started them (subject to instructor availability and online offers).</p></div>
        <h5>6. <a href="#">What methods of payment do you accept?</a></h5>
        <div><p>We only accept PayPal card payments for our online orders. This is to ensure that your card payment information is kept safe and you can securely pay for your order on our website without needing to worry about your card details.</p></div>
        <h5>7. <a href="#">What other payment methods do you accept?</a></h5>
        <div><p>We do not accept any other card payments at present except PayPal. Please feel free to create a PayPal account on their website. Click <a href="https://www.paypal.com/us/webapps/mpp/home">here</a> for instructions on how to do this.</p></div>
        <h5>8. <a href="#">What happens if I'm not the card holder or PayPal account holder?</a></h5>
        <div><p>--</p></div>
        <h5>9. <a href="#">How long should I wait to get a confirmation email telling me my lessons have been successfully booked?</a></h5>
        <div><p>It can take up to 2 hours for you to receive the confirmation email. If you haven't received it within that time farem please do email us at xxxx@xxxx.com.</p></div>
        <h5>10. <a href="#">What happens if my booking is unsuccessful?</a></h5>
        <div><p>--</p></div>
        <h5>11. <a href="#">What happens if I'm unhappy with the service?</a></h5>
        <div><p>We hope that this should never occur but in the first instance call 07841340403 and we would be very happy to discuss any concerns. If you are still not satisfied, the driving school in regulated by <a href="https://www.gov.uk/complain-about-a-driving-instructor">DVSA</a> and <a href="http://www.tradingstandards.uk/advice/index.cfm#postcodesearchform">Trading Standards Authority</a>.</p></div>
        <h5>12. <a href="#">What happens if I'm unable to log in to check my lesson slots?</a></h5>
        <div><p>If you are having problems logging into your account to check when your next lessons are please do email us on xxxx@xxxx.com and we will endeavor to reply to you within 48 hours.</p></div>
        <h5>13. <a href="#">What if the number supplied is not answered</a></h5>
        <div><p>Please leave a message and the instructor will get back to you usually within 4 hours.</p></div>
        <h5>14. <a href="#">Are you insured?</a></h5>
        <div><p>Yes we are have a comprehensive public liability cover. Our insurance policy will cover any Fault (subject to excess fees) or non Fault accidents.</p></div>
        <h5>15. <a href="#">Can I have a regular Instructor?</a></h5>
        <div><p>Yes, of course.</p></div>
        <h5>16. <a href="#">Will I have the same Instructor every week/month?</a></h5>
        <div><p>You will have the same driving instructor looking after your leaner needs all the way till you pass. We will not replace your Instructor unless you	request the change yourself.</p></div>
        <h5>17. <a href="#">Can my Instructor pick me up from work or school?</a></h5>
        <div><p>Yes, you can be picked up and dropped off at work or school provided it is within a 10 mile radius.</p></div>
        <h5>18. <a href="#">Can I specify the day of the week I have my lesson?</a></h5>
        <div><p>In the majority of cases you can specify the day. If your request cannot be met then you will be presented with the nearest alternative options.</p></div>
        <h5>19. <a href="#">Why do you specify 2 hour session?</a></h5>
        <div><p>We beieve that a 2 hour session gives you more time to learn and put what you have learnt into practice.</p></div>
        <h5>20. <a href="#">How do you ensure reliability and honesty?</a></h5>
        <div><p>By checking all the references provided by the Instructor. If she/he cannot provide verifiable reference we do not offer them work. We take extra care when tracing each applicant&#39;s history. We also provide extensive training making sure that all of our quality standards are being met.</p></div>
        <h5>21. <a href="#">How do I get started?</a></h5>
        <div><p>Fill in our simple <a href="enquiry.php">online form</a> today and our customer service team will contact you. We work fast, so very soon we could be providing your driving tuition.</p></div>
    </div>
    <br />
    <br />
    <br />
</div>