@{
    ViewBag.Title = "Home Page";
}

<div class="container">

    <div class="jumbotron text-center">
        <h1>Pass<span> Generals</span> Driving School</h1>
        <div class="col-lg-12">
            <img class="img-responsive img-rounded" src="~/Content/Images/main.jpg" />
        </div>
        <p class="lead">Offering driving lessons in Hemel Hempstead and the surrounding areas.</p>
        <p><a class="btn btn-large btn-success" href="~/Views/Home/DrivingCourses.cshtml" target="ext">Find out more</a></p>
    </div>

    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                <marquee>Call 07841340403 or book online today!!</marquee>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="index-bottom">

        <div class="row">
            <div class="col-lg-12">
                <h2>Who we are</h2>
                <br />
                <p>We aim to make our lessons informative and at the same time friendly and fun, as we believe you make better progress if you look forward to your lessons. See our <a href="~/Views/Home/DrivingCourses.html">testimonials page</a> to see what our customers say about our lessons.</p>
                <div class="car">
                    <img src="~/Content/Images/image2.JPG" alt="Renault Clio car" />
                </div>
                <p>At present I run the driving school myself, where I have been driving for over 20 years and I hold a PCV (Passenger Carrying Vehicle) Licence for class D vehicles.</p>
                <p>I am a qualified Approved Driving Instructor (ADI) and in the first quarter of 2016 I hope to pass my Fleet Instructors test and join the Fleet register which enables me to offer coaching and assessments to fully qualified drivers in a corporate environment.</p>
                <p>I am a member of the <a href="http://www.driving.org/">Driving Instructors Association </a>and am Pass Plus registered.</p>
                <p>I attend regular training courses in order to keep upto date with current and upcoming changes in driving education.</p>
                <p>The car I teach in is a dual controlled Renault Clio Medianav 1.5 diesel, 5 gear manual car.</p>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <!--<span> -->
            <div class="col-lg-6">
                <h2>Driving Lessons</h2>
                <br />
                <h4>Enquire - no obligation</h4>
                <p>
                    With years of experience in automatic and manual driving tuition,
                    we provide tuition of the highest standard to give you the best possible chance of passing your test.
                    <span>professional and trusted</span> you'll deal with one of the instructors initially.
                </p>
            </div>

            <div class="col-lg-6">
                <h2>Free Quotes</h2>
                <br />
                <p>
                    You can get a free estimate for the appropriate package deal or directly book your sessions by using our
                    online booking service or phone us on: 07841340403.
                </p>
                <p>The instructor will help you determine the most appropriate package.</p>
            </div>
            <!--</span>-->
        </div>
    </div>  <!--index-bottom-->

    </div> <!-- /container -->
<br />
<br />
<br />