@{
    ViewBag.Title = "Terms & Conditions";
}
<h2>Terms and Conditions</h2>

<div class="content">

    <small>Please read carefully.</small>

    <br />

    <h5>Your confirmation</h5>
    <p>By visiting and or using this website you are confirming that you have read these terms and conditions and are agreeing to be bound by them.</p>

    <h5>Jurisdiction for use</h5>
    <p>This site is intended for use only by those who can access it from within the UK.</p>

    <h5>Accuracy and Validity of Information</h5>
    <p>Whilst we take all reasonable steps to ensure that the information contained within these pages is accurate and up-to-date, it is nonetheless supplied on an "as is" basis and accordingly we do not accept any liability for any errors or omissions. If you are in any doubt as to the validity of information made available within these pages, we recommend you seek verification by contacting us.</p>

    <h5>What we use personal data for</h5>
    <p>We use the information we collect to supply our services to you. We may also use your contact details to communicate with you. We may contact you by email. If you do not wish us to contact you please tell us by using our enquiry form. We may use your information to send you information on any special offers or promotions.</p>

    <h5>What we won't do with your personal data</h5>
    <p>
        We will not sell, rent or disclose your personal details to any third parties, except:
        <ul>
            <li> when required to do so by law</li>
            <li> in response to a valid legal request by a law enforcement officer or government agency</li>
            <li> when you have explicitly or implicitly given your consent.</li>
        </ul>
    </p>

    <h5>Contact Details</h5>
    <p>If you have any comments or concerns regarding our privacy policy or any other matter please contact us using our enquiry form.</p>
    <br />
    <br />
    <br />
    <br />
    <br />
  </div>