@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2 class="text-danger">Error</h2>
<h3 class="text-danger">An error occurred while processing your request, please try again. If the issue continues, please contact the site administrator</h3>

